@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Poppins', sans-serif;
  }
}

@layer components {
  /* swiper-nav */
  .swiper-button-prev-ph,
  .swiper-button-next-ph {
    @apply w-10 h-10 flex items-center justify-center transition-all duration-200;
  }
  .swiper-button-prev-ph.swiper-button-disabled,
  .swiper-button-next-ph.swiper-button-disabled {
    @apply opacity-30;
  }

  .text-content p {
    @apply mb-4 text-[1rem];
  }
  .contact-form-wrapper input::placeholder,
  .contact-form-wrapper textarea::placeholder {
    @apply text-[0.9rem] lg:text-[1rem];
  }
  .contact-form-wrapper input:checked + label {
    @apply text-green-700;
  }
  .contact-form-wrapper input[type='checkbox'] {
    @apply appearance-none cursor-pointer inline-flex p-1 border-white  border-4 outline-2 outline;
  }
  .contact-form-wrapper input[type='checkbox']:checked {
    @apply bg-green-700 border-white  border-4 outline-green-700;
  }

  .client-form-wrapper input::placeholder,
  .client-form-wrapper textarea::placeholder {
    @apply text-[0.9rem] lg:text-[1rem];
  }
  .client-form-wrapper input:checked + label {
    @apply text-green-700;
  }
  .client-form-wrapper input[type='checkbox'] {
    @apply appearance-none cursor-pointer inline-flex p-1 border-white  border-4 outline-2 outline;
  }
  .client-form-wrapper input[type='checkbox']:checked {
    @apply bg-green-700 border-white  border-4 outline-green-700;
  }
}
