@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
  }
  .container {
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(300px);
    scroll-snap-type: y mandatory;
  }
  .child {
    scroll-snap-align: start;
  }
  /* Чтобы не прыгал scrollbar при открытии модального окна */
  html,
  body {
    scrollbar-gutter: stale;
  }
}

@layer components {
  /* swiper-nav */
  .swiper-button-prev-ph,
  .swiper-button-next-ph {
    @apply w-10 h-10 flex items-center justify-center transition-all duration-200;
  }
  .swiper-button-prev-ph.swiper-button-disabled,
  .swiper-button-next-ph.swiper-button-disabled {
    @apply opacity-30;
  }

  .text-content p {
    @apply mb-4 text-[1rem];
  }
  .text-content h2 {
    @apply text-[1.4rem] font-semibold mb-5;
  }
  .text-content h3 {
    @apply text-black/60 text-[1.2rem] font-bold mb-5;
  }
  .text-content h4 {
    @apply text-black/60 text-[1.1rem] font-semibold mb-5;
  }
  .text-content ul {
    @apply list-disc pl-8 mb-5;
  }
  .text-content ul li p {
    @apply mb-1;
  }
  .text-content-price p {
    @apply mb-4;
  }
  .text-content-price h2 {
    @apply text-[1.4rem] font-semibold mb-5;
  }
  .text-content-price h3 {
    @apply text-black/60 text-[1.4rem] font-bold mb-5;
  }
  .text-content-price h4 {
    @apply text-black/60 text-[1.2rem];
  }

  .text-content-price ul li p {
    @apply mb-1;
  }
  .contact-form-wrapper input,
  .contact-form-wrapper textarea {
    @apply border-0 border-b-2;
  }
  .contact-form-wrapper input::placeholder,
  .contact-form-wrapper textarea::placeholder {
    @apply text-[0.9rem] lg:text-[1rem];
  }
  .contact-form-wrapper input:checked + label {
    @apply text-green-700;
  }
  .contact-form-wrapper input[type='checkbox'] {
    @apply appearance-none cursor-pointer inline-flex p-1 border-white  border-4 outline-2 outline;
  }
  .contact-form-wrapper input[type='checkbox']:checked {
    @apply bg-green-700 border-white  border-4 outline-green-700;
  }
  .client-form-wrapper input,
  .client-form-wrapper textarea {
    @apply border-0 border-b-2 bg-sky-50;
  }
  .client-form-wrapper input::placeholder,
  .client-form-wrapper textarea::placeholder {
    @apply text-[0.9rem] lg:text-[1rem];
  }
  .client-form-wrapper input:checked + label {
    @apply text-green-700;
  }
  .client-form-wrapper input[type='checkbox'] {
    @apply appearance-none cursor-pointer inline-flex p-1 border-white  border-4 outline-2 outline;
  }
  .client-form-wrapper input[type='checkbox']:checked {
    @apply bg-green-700 border-white  border-4 outline-green-700;
  }
}
/* form php */
.success {
  @apply text-white bg-green-600  border-green-600 p-2 rounded-lg;
}

.error {
  @apply text-white bg-red-600  border-red-600 p-2 rounded-lg;
}
