@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
  }
  .container {
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(300px);
    scroll-snap-type: y mandatory;
  }
  .child {
    scroll-snap-align: start;
  }
  /* Чтобы не прыгал scrollbar при открытии модального окна */
  html,
  body {
    scrollbar-gutter: stale;
  }
  /* scrollbar standard  */
  ::-webkit-scrollbar {
    @apply w-1 h-1 bg-[#c6c6c6] rounded-full;
  }
  ::-webkit-scrollbar-track {
    @apply bg-[#c6c6c6] rounded-full;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-sky-600  rounded-full;
  }
}

@layer components {
}

@layer utilities {
}
